<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Crm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <body>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= javascript_pack_tag vue_pack %>
  </body>
</html>
