<!DOCTYPE html>
<html>
<head>
  <title>QCrm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
  <%= render 'shared/flash' %>
  <%= yield %>
  <%= javascript_pack_tag 'staff_vue' %>
</body>
</html>
