<!DOCTYPE html>
<html>
<head>
  <title>QCrm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
  <%= render 'shared/flash' %>
  <%= yield %>
  <%= javascript_pack_tag 'staff_vue' %>
</body>
</html>
